{% extends "password_reset/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
<div class="container mt-60 mb-60">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form method="post" action="{{ url }}">
							{% csrf_token %}
              <div class="form-group {% if form.username_or_email.errors %}has-error{% endif %}">
                  <input class="form-control" type="text" id="id_username_or_email" name="username_or_email" placeholder="Correo Electronico" value="{{ form.username_or_email.value|default:'' }}"/>
                  <label class="control-label"><small>{{ form.username_or_email.errors.0|default:"&nbsp" }}</small></label>
              </div>

              <button type="submit" class="btn btn-primary btn-block mt-20">{% trans "Recover my password" %}</button>

						</form>
        </div>
    </div>
</div>
{% endblock %}
