<div class="footer-sec">            <!-- Secondary Footer -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-center">
                <span class="copyright">&copy; Copyright Your Company 2016</span>           <!-- Copyright Text -->
            </div>
            <div class="col-sm-6 text-center">
                <ul class="social">          <!-- Social Media Links -->
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-reddit-alien"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>