{% load static %}

<div class="footer-pri">            <!-- Primary Footer -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 footer-widget">            <!-- Footer Widget - Blog -->
                <h5 class="heading inverse">Recent <span class="color2">Blog</span></h5>
                <ul class="blog-thumbnail">
                    <li class="entry">          <!-- Blog Entry Excerpt -->
                        <div class="entry-content">
                            <h4 class="entry-header"><a href="blog-single.html">What it takes to be National Best ?</a></h4>
                            <p class="entry-text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.                                     </p>
                        </div>
                    </li>
                    <li class="entry">          <!-- Blog Entry Excerpt -->
                        <div class="entry-content">
                            <h4 class="entry-header"><a href="blog-single.html">How do we achieve 100% success rate ?</a></h4>
                            <p class="entry-text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.                                     </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 footer-widget">            <!-- Footer Widget - Quick Links -->
                <h5 class="heading inverse">Quick <span class="color2">Links</span></h5>
                <ul class="quick-links">
                    <li><a href="brief-history.html">Brief History</a></li>
                    <li><a href="about-educomp.html">About EDUComp</a></li>
                    <li><a href="course-grid.html">Our Courses</a></li>
                    <li><a href="teachers.html">Our Teachers</a></li>
                    <li><a href="upcoming-events.html">Upcoming Events</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-2 footer-widget">            <!-- Footer Widget - Affiliations -->
                <h5 class="heading inverse">Affiliations &amp; <span class="color2">Awards</span></h5>
                <ul class="affiliations">
                    <li><img src="{% static 'images/university-1.png' %}" class="img-responsive" alt=""></li>
                    <li><img src="{% static 'images/university-2.png' %}" class="img-responsive" alt=""></li>
                </ul>
            </div>
            <div class="col-sm-2 footer-widget">            <!-- Footer Widget - Policies -->
                <h5 class="heading inverse">Our <span class="color2">Elements</span></h5>
                <ul class="quick-links">
                    <li><a href="icon-boxes.html">Icon Boxes</a></li>
                    <li><a href="accordion.html">Accordion</a></li>
                    <li><a href="tables.html">Tables</a></li>
                    <li><a href="tabs.html">Tabs</a></li>
                    <li><a href="modals.html">Modals</a></li>
                    <li><a href="progress-bars.html">Progress Bars</a></li>
                </ul>
            </div>
            <div class="col-sm-2 footer-widget">            <!-- Footer Widget - Contact Info -->
                <h5 class="heading inverse">Contact  <span class="color2">Us</span></h5>
                <address>
                    <strong>EDUcomp Group Of Institutions</strong>
                    <span>45th Floor,<br/> Newzek Estate Building,<br/> United Kingdom</span>
                </address>
                <a href="tel:+4525644563" class="phone"><i class="fa fa-phone fa-fw"></i> +452 564 4563</a>
                <a href="mailto:test@example.com" class="email"><i class="fa fa-envelope fa-fw"></i> info@company.com</a>
            </div>
        </div>
    </div>
</div>