{% load static %}

<div class="footer-pri">            <!-- Primary Footer -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5 footer-widget">            <!-- Footer Widget - Blog -->
                <h5 class="heading inverse">Noticias de <span class="color2">Interés</span></h5>
                <ul class="blog-thumbnail">
                    <li class="entry">          <!-- Blog Entry Excerpt -->
                        <div class="entry-content">
                            <h4 class="entry-header"><a href="http://emprendecondatos.gov.co/">Emprende con datos</a></h4>
                            <p class="entry-text">Emprende con datos es un proyecto que brinda acompañamiento a equipos de emprendedores a través de mentorías y asesorías para la construcción de modelos de negocio sostenibles y desarrollo de aplicaciones web y/o móviles</p>
                        </div>
                    </li>
                    <li class="entry">          <!-- Blog Entry Excerpt -->
                        <div class="entry-content">
                            <h4 class="entry-header"><a href="http://seaborn.pydata.org/">Librería del mes: <span class="color2">Seaborn</span></a></h4>
                            <p class="entry-text">Seaborn is a Python visualization library based on matplotlib. It provides a high-level interface for drawing attractive statistical graphics.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 footer-widget">            <!-- Footer Widget - Affiliations -->
                <h5 class="heading inverse">Próximos <span class="color2">Cursos</span></h5>
                <p><a href="http://edu.quantcompany.com/courses/ciencia-de-datos-con-r" style="font-size:18px">Ciencia de Datos con R</a></p>
                <p><a href="http://edu.quantcompany.com/courses/ciencia-de-datos-con-python" style="font-size:18px">Ciencia de Datos con Python</a></p>
            </div>
            <div class="col-sm-2 footer-widget">            <!-- Footer Widget - Quick Links -->
                <h5 class="heading inverse">Enlaces de <span class="color2">Interés</span></h5>
                <ul class="quick-links">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
                    <li><a href="{% url 'contact' %}">Contacto</a></li>
                    <li><a href="{% url 'users:me' %}">Ingresar a mi cuenta</a></li>
                    <li><a href="http://quantcompany.com/">Quant Company</a></li>
                </ul>
            </div>
            <div class="col-sm-2 footer-widget">            <!-- Footer Widget - Contact Info -->
                <h5 class="heading inverse">Contacto</h5>
                <address>
                    <strong>Quant Company</strong>
                  </address>
                <a href="tel:+57 300-894-4212" class="phone"><i class="fa fa-phone fa-fw"></i> +57 300 894-4212</a>
                <a href="mailto:test@example.com" class="email"><i class="fa fa-envelope fa-fw"></i> info@quantcompany.com</a>
            </div>
        </div>
    </div>
</div>
