{% load static %}

<nav class="navbar navbar-default font16">         <!-- Navigation Bar -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                <span class="sr-only">Toggle Menu</span>
                <span>Menu</span>
            </button>
            <a class="navbar-brand qcname" href="{% url 'index' %}" style="padding:35px 0px;color:white;"><i style="font-style:oblique;">∫ </i> Quant Company</a> <!-- Replace with your Logo -->
        </div>

        <div class="collapse navbar-collapse" id="main-navigation">         <!-- Main Menu -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'courses:index' %}">Cursos</a>
                <li><a href="{% url 'contact' %}">Contacto</a></li>
                <li><a href="#"><span class="flag-icon flag-icon-es"></span> Español</a>
                  <ul class="sub-menu">
                    <li><a href="#"><span class="flag-icon flag-icon-us"></span> English</a></li>
                  </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
