{% load static %}

<nav class="navbar navbar-default">         <!-- Navigation Bar -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                <span class="sr-only">Toggle Menu</span>
                <span>Menu</span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt=""></a> <!-- Replace with your Logo -->
        </div>
        
        <div class="collapse navbar-collapse" id="main-navigation">         <!-- Main Menu -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Courses</a>
                <li><a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>