<form action="{% url 'users:signup' %}" class="signup-form" method="POST">
    <div rv-hide="form.done">
        {% csrf_token %}

        <ul rv-show="form.errors">
            <li rv-each-error="form.errors">{ error }</li>
        </ul>

        <div class="form-group" rv-class-has-error="form.email.error">
            <input class="form-control" name="email" type="email" placeholder="Email" rv-value="form.email.value" >
            <label class="control-label" rv-show="form.email.error"><small rv-html="form.email.error"></small></label>
        </div>

        <div class="form-group" rv-class-has-error="form.password1.error">
            <input class="form-control" name="password1" type="password" placeholder="Password" rv-value="form.password1.value" >
            <label class="control-label" rv-show="form.password1.error"><small rv-html="form.password1.error"></small></label>
        </div>

        <div class="form-group" rv-class-has-error="form.password2.error">
            <input class="form-control" name="password2" type="password" placeholder="Password (again)" rv-value="form.password2.value">
            <label class="control-label" rv-show="form.password2.error"><small rv-html="form.password2.error"></small></label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" rv-class-active="form.submitting">Crear mi cuenta</button>
        </div>
    </div>

    <div class="row" rv-show="form.done">
        <div class="col-md-12">
            <h4>Gracias!</h4>
            <p>Un email con un link de activación ha sido enviado a tu correo.</p>
            <p>Por favor, activa tu cuenta con ese link para ingresar!</p>
        </div>
    </div>
</form>
