{% extends 'base.html' %}
{% load static %}

{% block head_css %}
{% endblock %}

{% block page_header %}Profile{% endblock %}

{% block breadcrumbs %}
    <li class="active">Profile</li>
{% endblock %}

{% block content %}
    <div class="container mt-100">
        <div class="row">
            <div class="col-sm-4">
                <div class="teacher-intro">
                    <img src="{{ profile_user.image_url }}" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="teacher-full">
                    <div>
                      {% block intro %}
                      {% endblock %}
                    </div>

                    {% if user.id == profile_user.id %}
                    <div class="mb-20">
                      <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#profile-modal">Editar mi perfil <i class="fa fa-pencil" aria-hidden="true"></i></button>
                    </div>
                    {% endif %}

                    <div class="personal">
                        {% block personal %}
                        {% endblock %}
                    </div>

                    <p>
                      {% if profile_user.description %}
                        {{ profile_user.description }}
                      {% else %}
                        <i>Aun no hay descripcion!</i>
                      {% endif %}
                    </p>
                </div>
                <div class="teacher-facts">
                    <div class="fact col-sm-4">
                        <span class="head"><span class="count" data-from="0" data-to="80" data-speed="3000">80</span>Average Score</span>
                    </div>
                    <div class="fact col-sm-4">
                        <span class="head"><span class="count" data-from="0" data-to="94" data-speed="3000">94</span> Students Passed</span>
                    </div>
                    <div class="fact col-sm-4">
                        <span class="head"><span class="count" data-from="0" data-to="20" data-speed="3000">20%</span> Scholar Students</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="container mt-60 mb-100">
        {% block sessions %}
        {% endblock %}
    </div>

    <div class="clearfix"></div>

    {% if user.id == profile_user.id %}
      <div class="modal fade" id="profile-modal" data-open-delay="750" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body" style="background-image:url('{% static 'images/modal-background.jpg' %}'); background-size:cover;">
              <div class="row" style="height:100%">
                <div class="col-md-12 bginverse pt-20 pb-20" style="height:100%">
                  <h1>Mi <span class="color2">perfil</span></h1>

                  <div class="tab-content">
                    {% if profile_user.is_student %}
                      {% include 'users/includes/student_profile_form.html' %}
                    {% elif profile_user.is_instructor %}
                      {% include 'users/includes/instructor_profile_form.html' %}
                    {% else %}
                      {% include 'users/includes/profile_form_base.html' %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
{% endblock %}

{% block tail_js %}
    <!-- CountTo -->
    <script src="{% static 'js/jquery.countTo.js' %}" type="text/javascript"></script>

    <!-- Appear -->
    <script src="{% static 'js/jquery.appear.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        document.getElementById("image").onchange = function () {
            console.log('change');
            console.log(this.files);
            var reader = new FileReader();
            reader.onload = function (e) {
                console.log(e);
                // get loaded data and render thumbnail.
                document.getElementById("image-preview").src = e.target.result;
            };

            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        };

        var profileForm = {
            errors: [],
            submitting: false,

            user_name: {value: '{{ profile_user.user_name }}', error: ''},
            first_name: {value: '{{ profile_user.first_name }}', error: ''},
            last_name: {value: '{{ profile_user.last_name }}', error: ''},
            description: {value: '{{ profile_user.description }}', error: ''},
            country: {value: '{{ profile_user.country }}', error: ''},

            clear: function(){
                this.errors = [];
                this.user_name.value = '';
                this.user_name.error = '';
                this.first_name.value = '';
                this.first_name.error = '';
                this.last_name.value = '';
                this.last_name.error = '';
                this.description.value = '';
                this.description.error = '';
                this.country.value = '';
                this.country.error = '';
            }
        };


        rivets.bind($('.profile-form'), {form: profileForm})


        $('.profile-form').on('submit', function(e){
            profileForm.submitting = true;

            e.preventDefault();

            var fd = new FormData(this);

            var request = $.ajax({
                url: this.getAttribute('action'),
                method: 'POST',
                data: new FormData(this),
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
            });


            request.done(function(data, textStatus, jqXHR) {
                console.log('Success\n' + jqXHR.responseText);
                location.reload(true);
            });

            request.fail(function(jqXHR, textStatus, errorThrown) {
                console.log('Error ' + jqXHR.status + '\n' + jqXHR.responseText);

                var data = JSON.parse(jqXHR.responseText);

                if (jqXHR.status == 400){
                    profileForm.errors = data.__all__ || [];
                    profileForm.user_name.error = data.user_name ? data.user_name[0] : '';
                    profileForm.first_name.error = data.first_name ? data.first_name[0] : '';
                    profileForm.last_name.error = data.last_name ? data.last_name[0] : '';
                    profileForm.description.error = data.description ? data.description[0] : '';
                    profileForm.country.error = data.country ? data.country[0] : '';
                }

                profileForm.submitting = false;
            });
        });
    </script>
{% endblock %}
