{% extends 'users/profile_base.html' %}
{% load django_markdown %}

{% block intro %}
  <h2 class="heading">{{ profile_user.user_name }}
    <ul class="social">
      {% for category in profile_user.categories.all %}
      <li><a data-toggle="tooltip" data-animation="false" title="{{ category.name }}"><i class="fa {{ category.fa_icon }}"></i></a></li>
      {% endfor %}
    </ul>
  </h2>
{% endblock %}

{% block personal %}
  <div>
      <span>Correo Electronico</span>
      <span>{{ profile_user.email }}</span>
  </div>

  <div>
      <span>Pais</span>
      {% if profile_user.country %}
      <span class="flag-icon flag-icon-{{ profile_user.country|lower }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ profile_user.country }}</span>
      {% else %}
      <span>---</span>
      {% endif %}
  </div>
{% endblock %}

{% block sessions %}
  {% if profile_user.enrollments.count > 0 %}
    <h2>Mis <span class="color2">Cursos</span></h2>
    <div class="time-table">
      <div class="row">
        <div>NOMBRE</div>
        <div>DURACION</div>
        <div>FECHA DE INSCRIPCIÓN</div>
        <div>ESTATUS</div>
        <div>ENLACE</div>
      </div>
      {% for enrollment in profile_user.enrollments.all %}
      <div class="row">
        <div>{{ enrollment.course.name }}</div>
        <div>{{ enrollment.course.duration }} semana{{ enrollment.course.duration|pluralize }}</div>
        <div>{{ enrollment.enrollment_date }}</div>
        <div>{{ enrollment.get_status_display }}</div>
        <div><a href="{% url 'courses:detail' enrollment.course.slug %}">Ir al curso</a></div>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <h2>Aun no te has inscrito en un <span class="color2">curso</span>!</h2>
  {% endif %}
{% endblock %}

{% block extra %}
    <h3>Credenciales <span class="color2">WizIQ</span></h3>
    <p>{{ profile_user.wiziq_credentials|markdown }}<p>
{% endblock %}
