{% extends 'base.html' %}
{% load static %}

{% block head_css %}
{% endblock %}

{% block page_header %}Cuenta Verificada{% endblock %}

{% block breadcrumbs %}
    <li class="active">Cuenta verificada</li>
{% endblock %}

{% block content %}
    <div class="container mt-60 mb-60">
        <div class="row">
            <div class="col-sm-12 text-center">
              <h3>{% blocktrans%}Bienvenido! Ahora ya puedes ingresar a tu cuenta!{% endblocktrans%}</h3>
            </div>
        </div>
    </div>
{% endblock %}
