{% extends 'base.html' %}
{% load static %}

{% block head_css %}
{% endblock %}

{% block page_header %}Course Detail{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'courses:index' %}">Courses</a></li>
    <li class="active">{{ course.name }}</li>
{% endblock %}

{% block content %}
  <div class="container mt-100">
      <div class="row">
          <div class="col-sm-4">
              <div class="course-intro">
                  <img src="{{ course.main_image.url }}" class="img-responsive" alt="">
              </div>
          </div>
          <div class="col-sm-8">
              <div class="course-full">
                  <h2 class="heading">{{ course.name }}</h2>
                  <div class="personal">
                      <div>
                          <span>Level</span>
                          <span>{{ course.get_level_display }}</span>
                      </div>
                      <div>
                          <span>Duration</span>
                          <span>{{ course.duration }} week{{ course.duration|pluralize }}</span>
                      </div>
                      <div>
                          <span>Fee</span>
                          <span>${{ course.monthly_price|floatformat:2 }}</span>
                      </div>
                      <div>
                          <a href="#" class="btn btn-primary">Download PDF</a>
                      </div>
                  </div>
                  <p>{{ course.description }}</p>
              </div>
          </div>
      </div>

      <div class="clearfix"></div>

      <div class="row mt-60">
          <div class="col-sm-4">
              <label>Average Pass Rate</label>
              <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      90%
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <label>Level of Hardness</label>
              <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                      80%
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <label>Average Score</label>
              <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                      60%
                  </div>
              </div>
          </div>
      </div>

      <div class="clearfix"></div>

      <div class="row mt-60">
          <div class="col-sm-12">
              <ul class="nav nav-tabs nav-justified" role="tablist">
                  <li role="presentation" class="active">
                      <a href="#t1body1" aria-controls="t1body1" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-futbol-o fa-fw"></i> Course Highlights</a>
                  </li>
                  <li role="presentation" class="">
                      <a href="#t1body2" aria-controls="t1body2" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-university fa-fw"></i> Syllabus</a>
                  </li>
                  <li role="presentation" class="">
                      <a href="#t1body3" aria-controls="t1body3" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-flask fa-fw"></i> Exam Schedule</a>
                  </li>
                  <li role="presentation" class="">
                      <a href="#t1body4" aria-controls="t1body4" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-graduation-cap fa-fw"></i> Other Details </a>
                  </li>
              </ul>

              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="t1body1">
                      <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                      <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream.</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="t1body2">
                      <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                      <ul class="list-styled">
                          <li>Extra Curricular Activities</li>
                          <li>Ultra Modern Infrastructure</li>
                          <li>Cultural Trips and Activities</li>
                          <li>And more...</li>
                      </ul>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="t1body3">
                      <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                      <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream.</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="t1body4">
                      <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                      <ul class="list-styled">
                          <li>Extra Curricular Activities</li>
                          <li>Ultra Modern Infrastructure</li>
                          <li>Cultural Trips and Activities</li>
                          <li>And more...</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

  </div>

  <div class="clearfix"></div>

  <div class="container mt-80 mb-100">
      <div class="row">
          <h3 class="heading text-center">Related <span class="color2">Courses</span></h3>
          <div class="col-sm-4">
              <div class="course-card">
                  <img src="images/course-grid-1.jpg" class="img-responsive course-img" alt="">
                  <a href="course-detail.html" class="course-link"><i class="fa fa-link" aria-hidden="true"></i></a>
                  <div class="course-detail">
                      <h4 class="heading">Diploma in Marketing</h4>
                      <span class="brief">In this course, you learn the basics of Marketing techniques.</span>
                      <ul class="course-features">
                          <li><i class="fa fa-map-marker"></i> London</li>
                          <li><i class="fa fa-clock-o"></i> 1 year</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="course-card">
                  <img src="images/course-grid-2.jpg" class="img-responsive course-img" alt="">
                  <a href="course-detail.html" class="course-link"><i class="fa fa-link" aria-hidden="true"></i></a>
                  <div class="course-detail">
                      <h4 class="heading">Bachelors in Marketing</h4>
                      <span class="brief">In this course, you learn the basics of Marketing techniques.</span>
                      <ul class="course-features">
                          <li><i class="fa fa-map-marker"></i> Paris</li>
                          <li><i class="fa fa-clock-o"></i> 3 year</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="course-card">
                  <img src="images/course-grid-3.jpg" class="img-responsive course-img" alt="">
                  <a href="course-detail.html" class="course-link"><i class="fa fa-link" aria-hidden="true"></i></a>
                  <div class="course-detail">
                      <h4 class="heading">Masters in Marketing</h4>
                      <span class="brief">In this course, you learn the basics of Marketing techniques.</span>
                      <ul class="course-features">
                          <li><i class="fa fa-map-marker"></i> California</li>
                          <li><i class="fa fa-clock-o"></i> 2 year</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}


{% block tail_js %}
{% endblock %}
