{% extends 'base.html' %}
{% load static %}
{% load django_markdown %}

{% block head_css %}
{% endblock %}

{% block page_header %}Detalle del Curso{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li class="active">{{ course.name }}</li>
{% endblock %}

{% block content %}
  <div class="container mt-100">
      <div class="row">
          <div class="col-sm-4">
              <div class="course-intro">
                  <img src="{{ course.main_image.url }}" class="img-responsive" alt="">
              </div>
          </div>
          <div class="col-sm-8">
              <div class="course-full">
                  <h2 id="titulo" class="heading">{{ course.name }}</h2>
                  <h5 class="heading">{{ course.subtitle }}</h5>
                  <div class="personal">
                      <div>
                          <span>Nivel</span>
                          <span>{{ course.get_level_display }}</span>
                      </div>
                      <div>
                          <span>Duración</span>
                          <span>{{ course.duration }} semana{{ course.duration|pluralize }}</span>
                      </div>
                      <div>
                          <span>Inversión</span>
                          <span>${{ course.monthly_price|floatformat:2 }}</span>
                      </div>
                      {% if user.is_authenticated %}

                      <div id="coupon-box">
                          <span>Cupón</span>
                          <!-- <form> -->
                              <!-- <div class="form-group"> -->
                                  <input name="coupon" type="text" placeholder="Codigo" style="width:100px" rv-value="form.coupon.value" />
                              <!-- </div> -->
                          <!-- </form> -->
                      </div>

                      <div>
                          <span>Inscríbete ahora!</span>
                          <form id="checkout-form" method="post" rv-action="form.coupon.value | checkoutURL {{ course.id }}">
                              {% csrf_token %}
                          </form>
                      </div>
                      {% else %}

                      <div>
                        <!-- <span>Para comprar el curso</span> -->
                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#signin-modal">Compra Este Curso<br/>Iniciar Sesion</button>
                      </div>
                      {% endif %}
                  </div>
                  <p>{{ course.extended_description|markdown }}</p>
              </div>
          </div>
      </div>
      <br>
    <span class="icon-divider"></span>
      <br>
      <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="heading text-center"><span class="qcname">Quant Company</span> ofrece una <span class="color2">metodología única</span>
                        <span class="sub-heading">La Ciencia de Datos abarca témas sumamente técnicos, sabemos lo difícil que puede ser aprenderlos,
                            por ello hemos diseñado un modelo único de enseñanza a distancia. Este curso incluye:</span>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="icon-box-1">
                        <div class="icon-box-icon">
                            <img src="{% static 'images/icons/online.png' %}" />
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">{{ course.classes}} Clases Virtuales</h5>
                            <span>Interactúa en nuestra aula virtual con el instructor y tus compañeros, podrás hacer preguntas, aclarar dudas y recibir acompañamiento en tiempo real.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="icon-box-1">
                        <div class="icon-box-icon">
                            <img src="{% static 'images/icons/personal.png' %}" />
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">{{ course.mentorship_sessions}} Sesiones 1 a 1</h5>
                            <span>Tendrás una sesión semanal de mentoría privada de 30 min. para recibir ayuda en los temas que se te dificulten o profundizar en aquellos que te interesen.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="icon-box-1">
                        <div class="icon-box-icon">
                            <img src="{% static 'images/icons/materiales.png' %}" />
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">Los mejores materiales</h5>
                            <span>{{course.materials|markdown}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="icon-box-1">
                        <div class="icon-box-icon">
                            <img src="{% static 'images/icons/diploma.png' %}" />
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">Certificación</h5>
                            <span>Obtén una certificación, que junto con tus proyectos mostrará a tus futuros empleadores, jefes o clientes tus habilidades para extraer valor de los datos.</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="icon-box-1">
                        <div class="icon-box-icon">
                            <img src="{% static 'images/icons/realworld.png' %}" />
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">Proyectos</h5>
                            <span>{{course.projects|markdown}}</span>
                        </div>
                    </div>
                </div>

            </div>
      </div>

      <div class="row mt-60">
          <div class="col-sm-12">
              <h3>Público Objetivo</h3>
              <p>{{ course.audience|markdown }}</p>
              <h3>Resumen de temas</h3>
              <p>{{ course.topics|markdown }}<p>
          </div>
      </div>

    <div>
        <h4 class="heading text-center"><a href="{{ course.details_document.url }}" target="_blank">Consulta aquí detalles del curso, horarios y próximas sesiones</a></h4>
    </div>
    <div class="cta-light-full cta-anim">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <span class="text">¿Listo para empezar?</span>
                    <h3>Inscríbete ahora en: {{course.name}}</h3>
                    <br/><br/>
                    <a href="#titulo" class="btn btn-primary">Inscribirme y pagar de manera segura con PayPal &nbsp;&nbsp; <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>



      {% block private %}
      {% endblock %}
  </div>

  <div class="clearfix"></div>

  <div class="container mt-80 mb-100">
      <div class="row">
          <h3 class="heading text-center">¿Dudas o <span class="color2">preguntas?</span></h3>
          <p>Si tienes alguna pregunta o deseas mas información sobre este curso, por favor <a href="{% url 'contact' %}">contáctanos</a> con mucho gusto te ayudaremos!</p>
      </div>
  </div>
{% endblock %}


{% block tail_js %}

<script>
    window.paypalCheckoutReady = function() {
        paypal.checkout.setup('KAPME6JM2REHY', {
            environment: 'live',
            container: 'checkout-form'
        });
    };
</script>

<script src="//www.paypalobjects.com/api/checkout.js" async></script>

<script type="text/javascript">
    var checkoutForm = {
        coupon: {value: '', error: ''},
    };

    rivets.bind($('#checkout-form'), {form: checkoutForm});
    rivets.bind($('#coupon-box'), {form: checkoutForm});
</script>
{% endblock %}
