{% extends 'base.html' %}
{% load static %}

{% block head_css %}
{% endblock %}

{% block page_header %}Course List{% endblock %}

{% block breadcrumbs %}
    <li class="active">Courses</li>
{% endblock %}

{% block content %}
    <div class="pt-60 pb-60 bgcolor3">
        <div class="container">
            <div class="row">
                <form id="course-filter-form" class="course-search" action="{% url 'courses:filter' %}" method="POST">
                    {% csrf_token %}

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="query" name="query" class="form-control">
                            <label for="query">Enter Keywords...</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <select id="categories" name="categories" class="selectpicker" data-style="btn-inverse" data-width="100%" multiple>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                            </select>
                            <label for="categories">Categories</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" rv-class-active="form.submitting"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-20 mb-60">
        <div class="row">
            <div id="course-search-results" class="col-sm-8">

                <div class="course-list new" rv-each-course="results.current_page | call results.current_page_index results.pages">
                    <div class="course-media">
                        <img rv-src="course.main_image" class="img-responsive course-img" alt="">
                    </div>
                    <div class="course-detail">
                        <h4 class="heading">{ course.name }</h4>
                        <ul class="course-features">
                            <li><i class="fa fa-book"></i> { course.category.name }</li>
                            <li><i class="fa fa-clock-o"></i> { course.duration } weeks</li>
                        </ul>
                        <p class="brief" rv-text="course.description"></p>
                        <a rv-href="course.id | decorate '/courses/{0}'" class="btn btn-primary btn-sm">View Details</a>
                    </div>
                </div>


                <div class="clearfix"></div>

                <nav>
                    <ul class="pagination">
                        <li>
                            <a rv-on-click="results.prev_page" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li rv-each-page="results.pages" rv-class-active="results.is_active | call page.number"><a rv-on-click="results.goto_page">{ page.number }</a></li>

                        <li>
                            <a rv-on-click="results.next_page" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-sm-4">                  <!-- sidebar -->
                <aside class="widget download-widget text-center">
                    <div class="download-info">
                        <p class="inverse font24">Join the best people in industry.</p><br/>
                        <a href="admission-process.html" class="btn btn-default">Apply Now</a>
                    </div>
                </aside>
                <aside class="widget twitter-widget">
                    <h5 class="heading">Twitter Feed</h5>
                    <ul class="tweet-list">
                        <li>We've done it again. Educomp wins <a href="">#SirEdward</a> award yet again! Kudos to all Educomp family!</li>
                    </ul>
                </aside>
                <aside class="widget category-widget">
                    <h5 class="heading">Categories</h5>
                    <ul class="categories">
                        <li><a href="#">Personality Development</a></li>
                        <li><a href="#">Techonology</a></li>
                        <li><a href="#">Life Teachings</a></li>
                        <li><a href="#">Stress Management</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Techonology</a></li>
                        <li><a href="#">Life Teachings</a></li>
                    </ul>
                </aside>
                <aside class="widget tagcloud-widget">
                    <h5 class="heading">Trending Tags</h5>
                    <ul class="tagcloud">
                        <li><a href="#">Maths</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Course</a></li>
                        <li><a href="#">Study</a></li>
                        <li><a href="#">Bachelors</a></li>
                        <li><a href="#">Best</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Life</a></li>
                        <li><a href="#">Fun</a></li>
                        <li><a href="#">Maths</a></li>
                        <li><a href="#">Study</a></li>
                    </ul>
                </aside>
                <aside class="widget blog-widget">
                    <h5 class="heading">Recent Blog</h5>
                    <ul class="blog-thumbnail">
                        <li class="entry">
                            <div class="entry-content">
                                <h4 class="entry-header"><a href="blog-single.html">What it takes to be National Best</a></h4>
                                <p class="entry-text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings.</p>
                            </div>
                        </li>
                        <li class="entry">
                            <div class="entry-content">
                                <h4 class="entry-header"><a href="blog-single.html">What it takes to be National Best</a></h4>
                                <p class="entry-text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings.</p>
                            </div>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}


{% block tail_js %}
    <!-- Select Box Styling Version 1.10-->
    <script src="{% static 'js/bootstrap-select.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'courses/js/courseFilterForm.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
      // trigger search on page load. will use no criteria, so will return all courses
      $('#course-filter-form').submit();
    </script>
{% endblock %}
