{% extends 'base.html' %}
{% load static %}

{% block head_css %}
    <!--Slider Revolution -->
    <link href="{% static 'slider-revolution/css/settings.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'slider-revolution/css/layers.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'slider-revolution/css/navigation.css' %}" type="text/css" rel="stylesheet">
{% endblock %}


{% block main %}
    <!-- Slider Revolution -->
    <div class="rev_slider_wrapper fullwidthbanner-container">
        <div id="slider" class="rev_slider fullwidthbanner" data-version="5.0.7">    
            <ul>    
                <!-- Slide 1 -->
                <li data-index="rs-129"
                    data-transition="parallaxvertical"
                    data-slotamount="default"  
                    data-easein="default" 
                    data-easeout="default" 
                    data-masterspeed="default"  
                    data-thumb=""  
                    data-rotate="0"  
                    data-fstransition="fade" 
                    data-fsmasterspeed="1500" 
                    data-fsslotamount="7" 
                    data-saveperformance="off"  
                    data-title="A STUDY ON HAPPINESS" 
                    data-description="Nurturing the most awesome minds.">

                    <!-- MAIN IMAGE -->
                    <img src="{% static 'images/dummy.jpg' %}" data-lazyload="{% static 'images/slide-1.jpg' %}" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- Overlay-->
                    <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                        id="slide-1-overlay" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-width="full"
                        data-height="full"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                        data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="1000" 
                        data-basealign="slide" 
                        data-responsive_offset="on"
                        style="z-index: 5;background-color:rgba(0, 0, 0, 0.3);border-color:rgba(0, 0, 0, 1.00);"> 
                    </div>

                    <!-- Small Text -->
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0 color2" 
                        id="slide-1-small-text" 
                        data-x="['right','right','right','right']" data-hoffset="['50','50','50','30']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-120','-120']" 
                        data-width="none"
                        data-fontsize="['22', '22', '22', '16']"
                        data-height="28"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                        data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                        data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 6; white-space: nowrap; font-weight:bold; font-family: 'Libre Baskerville', serif;">We are the best.
                    </div>                            

                    <!-- Main Text -->
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
                        id="slide-1-main-text" 
                        data-x="['right','right','right','right']" data-hoffset="['50','50','50','30']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-50']" 
                        data-fontsize="['46','46','46','32']"
                        data-lineheight="['55','55','55','35']"
                        data-color="['#fff']"
                        data-width="['600','600','600','420']"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                        data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                        data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 7; min-width: 600px; max-width: 600px; white-space: normal; text-shadow:0px 2px 2px #000; text-transform:capitalize; font-weight:600; text-align:right; font-family: 'Montserrat', sans-serif;">Nurturing the most awesome minds.
                    </div>

                    <!-- Button -->
                    <a href="brief-history.html" class="tp-caption btn btn-primary rs-parallaxlevel-0 hidden-xs" 
                        id="slide-1-button" 
                        data-x="['right','right','right','right']" data-hoffset="['53','53','53','30']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                        data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
                        data-mask_in="x:0px;y:0px;" 
                        data-mask_out="x:0;y:0;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        data-responsive="off"
                        style="z-index: 8;">READ MORE 
                    </a>
                </li>

                <!-- Slide 2 -->
                <li data-index="rs-2"
                    data-transition="parallaxvertical"
                    data-slotamount="default"  
                    data-easein="default" 
                    data-easeout="default" 
                    data-masterspeed="default"  
                    data-thumb=""  
                    data-rotate="0"  
                    data-fstransition="fade" 
                    data-fsmasterspeed="1500" 
                    data-fsslotamount="7" 
                    data-saveperformance="off"  
                    data-title="A STUDY ON HAPPINESS" 
                    data-description="Nurturing the most awesome minds.">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'images/dummy.jpg' %}" data-lazyload="{% static 'images/slide-2.jpg' %}" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- Overlay -->
                    <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                        id="slide-2-overlay"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-width="full"
                        data-height="full"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                        data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="1000" 
                        data-basealign="slide" 
                        data-responsive_offset="on" 
                        style="z-index: 9;background-color:rgba(0, 0, 0, 0.3);border-color:rgba(0, 0, 0, 1.00);"> 
                    </div>

                    <!-- Small Text -->
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0 color2" 
                        id="layer-2-small-text" 
                        data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-120','-120']" 
                        data-width="none"
                        data-fontsize="['22', '22', '22', '16']"
                        data-height="28"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                        data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                        data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 10; white-space: nowrap; font-weight:bold; font-family: 'Libre Baskerville', serif;">We are super sporty.
                    </div>                            

                    <!-- Main Text -->
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
                        id="slide-2-main-text" 
                        data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-50']" 
                        data-fontsize="['46','46','46','32']"
                        data-lineheight="['55','55','55','35']"
                        data-color="['#fff']"
                        data-width="['600','600','600','420']"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                        data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                        data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 11; min-width: 600px; max-width: 600px; white-space: normal; text-shadow:0px 2px 2px #000; text-transform:capitalize; font-weight:600; text-align:left; font-family: 'Montserrat', sans-serif;">Not just studies, we excel in sports too.
                    </div>

                    <!-- Button -->
                    <a href="about-educomp.html" class="tp-caption btn btn-primary rs-parallaxlevel-0 hidden-xs" 
                        id="slide-2-button" 
                        data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                        data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
                        data-mask_in="x:0px;y:0px;" 
                        data-mask_out="x:0;y:0;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        data-responsive="off"
                        style="z-index: 12;">READ MORE 
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Revolution Slider Ends --> 
    
    <div class="bgcolor2 text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn-announce"><i class="fa fa-bullhorn"></i></button>
                    <div class="announcement">
                        <div class="announcement-text">
                            <span>School will remain closed on account of heavy rains</span>
                            <span>Exams postponed by 10 days due to Annual Day celebrations</span>
                            <span>Late Fee of 10% to be charged from defaulters</span>
                        </div>
                        <div class="owl-nav">
                            <span class="owl-left"><i class="fa fa-angle-left"></i></span>
                            <span class="owl-right"><i class="fa fa-angle-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 mt-100">
                    <h3 class="heading">Data Science <span class="color2">Training</span></h3>
                    <p>EDUComp is a premium education theme. 100% responsive and designed for quick customizations, this is an ideal theme for Schools, Colleges, Universities and other Educational Insitutions.</p>
                    <p>A huge array of new elements coming your way, enjoy lifetime free updates for EDUComp, Buy Now!</p>
                    <br/>
                    <ul class="list-styled pull-left">
                        <li>Super Easy to Customize</li>
                        <li>Very Well Documented</li>
                    </ul>
                    <ul class="list-styled pull-left">
                        <li>Quick Free Email Support</li>
                        <li>Lifetime Free Updates</li>
                    </ul>
                    <div class="clearfix"></div>
                    <br/>
                    <a href="about-educomp.html" class="btn btn-primary btn-sm">Learn More <i class="fa fa-long-arrow-right"></i> </a>
                </div>
                <div class="col-sm-5 mt-60">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#signin-container" aria-controls="signin-container" role="tab" data-toggle="tab"> Sign In</a></li>
                        <li role="presentation"><a href="#signup-container" aria-controls="signup-container" role="tab" data-toggle="tab"> Sign Up</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="signin-container" role="tabpanel" class="tab-pane fade in active">
                            {% include 'users/includes/signin.html' %}
                        </div>
                        
                        <div id="signup-container" role="tabpanel" class="tab-pane fade">
                            {% include 'users/includes/signup.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bgcolor3 pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="heading text-center">LEARNING AT <span class="color2">QUANT COMPANY</span>
                        <span class="sub-heading">We understand how hard it is to learn Data Science and quantitative topics. Which is why we provide:</span>
                        <span class="icon-divider"></span>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="icon-box-1">
                        <div class="icon-box-icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">Live Online Classes</h5>
                            <span>Interact with our faculty...</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box-1">
                        <div class="icon-box-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">Coaching Sessions</h5>
                            <span>One-on-one sessions for personalized guidance and help in your learning.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box-1">
                        <div class="icon-box-icon">
                            <i class="fa fa-calendar-check-o"></i>
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">Invited Experts</h5>
                            <span>Industry experts are invited to our classes to share their industry experience.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="icon-box-1">
                        <div class="icon-box-icon">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">World-class materials</h5>
                            <span>We provide the best materials curated from world experts and tailored to your needs.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box-1">
                        <div class="icon-box-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">Real World Projects</h5>
                            <span>Real world projects from industry.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box-1">
                        <div class="icon-box-icon">
                            <i class="fa fa-youtube"></i>
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">Certification</h5>
                            <span>Verifiable certification to you skills.</span>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>    
        
    <div class="gallery">
        <div class="container-fluid">
            <div class="row">
                <div class="gallery-overlay">
                    <h2 class="gallery-heading">Life At Educomp</h2>
                </div>
                <div class="col-sm-3 no-gutter">
                    <div class="img-box">
                        <a href="{% static 'images/gallery-4.jpg' %}" data-gal="prettyPhoto[galleryName]" class="img-zoom"><i class="fa fa-search"></i></a>
                        <img src="{% static 'images/gallery-4' %}.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-3 no-gutter">
                    <div class="img-box">
                        <a href="{% static 'images/gallery-6.jpg' %}" data-gal="prettyPhoto[galleryName]" class="img-zoom"><i class="fa fa-search"></i></a>
                        <img src="{% static 'images/gallery-6' %}.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="img-box">
                        <a href="{% static 'images/gallery-1.jpg' %}" data-gal="prettyPhoto[galleryName]" class="img-zoom"><i class="fa fa-search"></i></a>
                        <img src="{% static 'images/gallery-1' %}.jpg" alt="" class="img-responsive">
                    </div>                    
                </div>
                <div class="col-sm-3 no-gutter">
                    <div class="img-box">
                        <a href="{% static 'images/gallery-2.jpg' %}" data-gal="prettyPhoto[galleryName]" class="img-zoom"><i class="fa fa-search"></i></a>
                        <img src="{% static 'images/gallery-2' %}.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="img-box">
                        <a href="{% static 'images/gallery-3.jpg' %}" data-gal="prettyPhoto[galleryName]" class="img-zoom"><i class="fa fa-search"></i></a>
                        <img src="{% static 'images/gallery-3' %}.jpg" alt="" class="img-responsive">
                    </div>                    
                </div>
                <div class="col-sm-3 no-gutter">
                    <div class="img-box">
                        <a href="{% static 'images/gallery-5.jpg' %}" data-gal="prettyPhoto[galleryName]" class="img-zoom"><i class="fa fa-search"></i></a>
                        <img src="{% static 'images/gallery-5' %}.jpg" alt="" class="img-responsive">
                    </div>
                </div>                
            </div>
        </div>
    </div>
    
    <div class="mt-80 mb-80">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="facts">
                            <div class="fact col-sm-4">
                                <span class="head">
                                    <span class="count" data-from="0" data-to="9" data-speed="3000"></span> Branches
                                </span>
                                <span class="foot">With 9 braches in function, we are very soon inaugurating the 10th one!</span>
                            </div>
                            <div class="fact col-sm-4">
                                <span class="head">
                                    <span class="count" data-from="0" data-to="56" data-speed="3000"></span> Students
                                </span>
                                <span class="foot">Average number of students per class. Offering world class education.</span>
                            </div>
                            <div class="fact col-sm-4">
                                <span class="head">
                                    <span class="count" data-from="0" data-to="15" data-speed="3000"></span> Teachers
                                </span>
                                <span class="foot">Best <i>"Student and Teacher Ratio"</i> in the world. Award 10 times in a row.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>
        
    <div class="container mb-100">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="heading text-center">We're making a <span class="color2">Difference</span>
                    <span class="sub-heading">EDUComp is a modern theme for the leading Educational Institutions. Bundled with Slider Revolution, this is beautiful!</span>
                    <span class="icon-divider"></span>
                </h2>
            </div>
        </div>    
        <div class="row mt-20">
            <div class="col-sm-6">
                <img src="{% static 'images/child-studying' %}.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-sm-6">
                <div class="accordion-2">
                    <div class="panel-group" id="a2" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="a2heading1">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#a2" href="#a2body1" aria-expanded="true" aria-controls="a2body1">
                                        What's so awesome about Educomp?
                                    </a>
                                </h4>
                            </div>
                            <div id="a2body1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="a2heading1" aria-expanded="true">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="a2heading2">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#a2" href="#a2body2" aria-expanded="false" aria-controls="a2body2">
                                      Why we are the best?
                                    </a>
                                </h4>
                            </div>
                            <div id="a2body2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="a2heading2" aria-expanded="false">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="a2heading3">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#a2" href="#a2body3" aria-expanded="false" aria-controls="a2body3">
                                      Why you would love Educomp?
                                    </a>
                                </h4>
                            </div>
                            <div id="a2body3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="a2heading3" aria-expanded="false">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="container-fluid mb-100">
        <div class="row">
            <div class="tweets" data-parallax="scroll" data-image-src="{% static 'images/twitter.jpg' %}" data-speed="0.4">
                <p>Educomp has been awarded the most beautiful theme in educational category.<a href="#">#award</a></p>
                <p>Wow is the word for <a href="#">@Educomp</a> theme. Buy now!!</p>
                <p>Educomp has all the elements needed for <a href="">#education</a> website.</p>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="container mb-80">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="heading text-center">Meet our <span class="color2">Teachers</span>
                    <span class="sub-heading">Our highly qualified teachers put in their best efforts for outstanding results in both studies and co-curricular activities.</span>
                    <span class="icon-divider"></span>
                </h2>
            </div>
            <div class="col-sm-4">
                <div class="teacher-card">
                    <ul class="social-links">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <img src="{% static 'images/teacher-1.png' %}" class="teacher-img img-responsive" alt="">
                    <a href="teacher-profile.html" class="teacher-link">View Profile</a>
                    <div class="teacher-detail">
                        <h4 class="heading">Ms. Simcy Janes</h4>
                        <span class="position">HOD, Science Department</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="teacher-card">
                    <ul class="social-links">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <img src="{% static 'images/teacher-2.png' %}" class="teacher-img img-responsive" alt="">
                    <a href="teacher-profile.html" class="teacher-link">View Profile</a>
                    <div class="teacher-detail">
                        <h4 class="heading">Mr. Janes Simcy</h4>
                        <span class="position">HOD, Maths Department</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="teacher-card">
                    <ul class="social-links">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <img src="{% static 'images/teacher-3.png' %}" class="teacher-img img-responsive" alt="">
                    <a href="teacher-profile.html" class="teacher-link">View Profile</a>
                    <div class="teacher-detail">
                        <h4 class="heading">Ms. Simcy Janes</h4>
                        <span class="position">HOD, English Department</span>
                    </div>
                </div>
            </div>            
        </div>
    </div>    
     
    <div class="clearfix"></div>
     
    <div class="event pt-100 pb-100" data-parallax="scroll" data-image-src="{% static 'images/event-background' %}.jpg">
        <div class="container">
            <h2 class="heading text-center">Upcoming <span class="color2">Event</span>
                <span class="sub-heading">Countdown timer for upcoming events and a detailed page for events. Allow people to participate and make it a big hit!</span>
                <span class="icon-divider"></span>
            </h2>
            <div class="row">
                <div class="col-sm-5">
                    <div class="next-event">
                        <span class="event-date">23</span> Oct, Monday
                    </div>
                </div>
                <div class="col-sm-7">
                    <ul class="timer" data-date="2016/10/21 00:00:00">           <!-- Put event Date in YYYY/MM/DD hh:mm:ss format -->
                        <li><span class="days">0</span>days</li>
                        <li><span class="hours">0</span>hrs</li>
                        <li><span class="minutes">00</span>min</li>
                        <li><span class="seconds">00</span>sec</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 mt-20">
                    <div class="event-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row mt-40">
                <div class="col-sm-3">
                    <div class="icon-box-5">
                        <div class="icon-box-icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">School Grounds</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="icon-box-5">
                        <div class="icon-box-icon">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">Sharp at 7:00 p.m.</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="icon-box-5">
                        <div class="icon-box-icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">Space for 1000</h5>
                        </div>
                    </div>
                </div>   
                <div class="col-sm-3">
                    <div class="icon-box-5">
                        <div class="icon-box-icon">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <div class="icon-box-content">
                            <h5 class="heading">Award Ceremony</h5>
                        </div>
                    </div>                
                </div>                            
            </div>
            <div class="row text-center mt-60">
                <a href="upcoming-events.html" class="btn btn-primary">View All Events</a>
            </div>
        </div>
    </div>
{% endblock %}


{% block tail_js %}
    <!--Slider Revolution version 5.0-->
    <script src="{% static 'slider-revolution/js/jquery.themepunch.tools.min.js' %}" type="text/javascript" ></script>
    <script src="{% static 'slider-revolution/js/jquery.themepunch.revolution.min.js' %}" type="text/javascript" ></script>
    
    <!-- Include only when working on Local system. Not required on server -->
    <script src="{% static 'slider-revolution/js/extensions/revolution.extension.parallax.min.js' %}" type="text/javascript"></script>    
    <script src="{% static 'slider-revolution/js/extensions/revolution.extension.video.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'slider-revolution/js/extensions/revolution.extension.slideanims.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'slider-revolution/js/extensions/revolution.extension.navigation.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'slider-revolution/js/extensions/revolution.extension.layeranimation.min.js' %}" type="text/javascript"></script>
    
    <!-- Countdown Timer Version 2.1.0-->
    <script src="{% static 'js/jquery.countdown.min.js' %}" type="text/javascript"></script>
    
    <!-- Owl Carousel Version 2.0.0 -->
    <script src="{% static 'js/owl.carousel.min.js' %}" type="text/javascript"></script>
    
    <!-- CountTo -->
    <script src="{% static 'js/jquery.countTo.js' %}" type="text/javascript"></script>
    
    <!-- Appear -->
    <script src="{% static 'js/jquery.appear.js' %}" type="text/javascript"></script>
        
    <!--Pretty Photo Version 3.1.6-->
    <script src="{% static 'js/jquery.prettyPhoto.js' %}" type=text/javascript></script>
    
    <!-- Parallax Version 1.4.2 -->
    <script src="{% static 'js/parallax.js' %}" type="text/javascript"></script>

    <script src="{% static 'users/js/signupForm.js' %}" type="text/javascript"></script>
    <script src="{% static 'users/js/signinForm.js' %}" type="text/javascript"></script>
{% endblock %}